parameters:
	ignoreErrors:
		-
			message: "#^Method Application\\\\Authentication\\\\Adapter\\\\ChainingAdapterInterface\\:\\:setCredential\\(\\) has no return type specified\\.$#"
			count: 1
			path: module/Application/src/Application/Authentication/Adapter/ChainingAdapterInterface.php

		-
			message: "#^Method Application\\\\Authentication\\\\Adapter\\\\ChainingAdapterInterface\\:\\:setCredential\\(\\) has parameter \\$credential with no type specified\\.$#"
			count: 1
			path: module/Application/src/Application/Authentication/Adapter/ChainingAdapterInterface.php

		-
			message: "#^Method Application\\\\Authentication\\\\Adapter\\\\ChainingAdapterInterface\\:\\:setIdentity\\(\\) has no return type specified\\.$#"
			count: 1
			path: module/Application/src/Application/Authentication/Adapter/ChainingAdapterInterface.php

		-
			message: "#^Method Application\\\\Authentication\\\\Adapter\\\\ChainingAdapterInterface\\:\\:setIdentity\\(\\) has parameter \\$identity with no type specified\\.$#"
			count: 1
			path: module/Application/src/Application/Authentication/Adapter/ChainingAdapterInterface.php

		-
			message: "#^Method Application\\\\Authentication\\\\Adapter\\\\EnsureUser\\:\\:setCredential\\(\\) has no return type specified\\.$#"
			count: 1
			path: module/Application/src/Application/Authentication/Adapter/EnsureUser.php

		-
			message: "#^Method Application\\\\Authentication\\\\Adapter\\\\EnsureUser\\:\\:setCredential\\(\\) has parameter \\$credential with no type specified\\.$#"
			count: 1
			path: module/Application/src/Application/Authentication/Adapter/EnsureUser.php

		-
			message: "#^Method Application\\\\Authentication\\\\Adapter\\\\EnsureUser\\:\\:setIdentity\\(\\) has no return type specified\\.$#"
			count: 1
			path: module/Application/src/Application/Authentication/Adapter/EnsureUser.php

		-
			message: "#^Method Application\\\\Authentication\\\\Adapter\\\\EnsureUser\\:\\:setIdentity\\(\\) has parameter \\$identity with no type specified\\.$#"
			count: 1
			path: module/Application/src/Application/Authentication/Adapter/EnsureUser.php

		-
			message: "#^Property Application\\\\Authentication\\\\Adapter\\\\EnsureUser\\:\\:\\$wrapped has no type specified\\.$#"
			count: 1
			path: module/Application/src/Application/Authentication/Adapter/EnsureUser.php

		-
			message: "#^Method Application\\\\Authentication\\\\Adapter\\\\LockedUser\\:\\:setCredential\\(\\) has no return type specified\\.$#"
			count: 1
			path: module/Application/src/Application/Authentication/Adapter/LockedUser.php

		-
			message: "#^Method Application\\\\Authentication\\\\Adapter\\\\LockedUser\\:\\:setCredential\\(\\) has parameter \\$credential with no type specified\\.$#"
			count: 1
			path: module/Application/src/Application/Authentication/Adapter/LockedUser.php

		-
			message: "#^Method Application\\\\Authentication\\\\Adapter\\\\LockedUser\\:\\:setIdentity\\(\\) has no return type specified\\.$#"
			count: 1
			path: module/Application/src/Application/Authentication/Adapter/LockedUser.php

		-
			message: "#^Method Application\\\\Authentication\\\\Adapter\\\\LockedUser\\:\\:setIdentity\\(\\) has parameter \\$identity with no type specified\\.$#"
			count: 1
			path: module/Application/src/Application/Authentication/Adapter/LockedUser.php

		-
			message: "#^Property Application\\\\Authentication\\\\Storage\\\\DoctrineUserAccount\\:\\:\\$userCache has no type specified\\.$#"
			count: 1
			path: module/Application/src/Application/Authentication/Storage/DoctrineUserAccount.php

		-
			message: "#^Method Application\\\\ContentNegotiation\\\\XmlContentTypeListener\\:\\:__invoke\\(\\) has no return type specified\\.$#"
			count: 1
			path: module/Application/src/Application/ContentNegotiation/XmlContentTypeListener.php

		-
			message: "#^Method Application\\\\ContentNegotiation\\\\XmlContentTypeListener\\:\\:extractBodyParametersFromXml\\(\\) has no return type specified\\.$#"
			count: 1
			path: module/Application/src/Application/ContentNegotiation/XmlContentTypeListener.php

		-
			message: "#^Method Application\\\\ContentNegotiation\\\\XmlContentTypeListener\\:\\:extractBodyParametersFromXml\\(\\) has parameter \\$xmlString with no type specified\\.$#"
			count: 1
			path: module/Application/src/Application/ContentNegotiation/XmlContentTypeListener.php

		-
			message: "#^Method Application\\\\ContentNegotiation\\\\XmlContentTypeListener\\:\\:isXmlRequest\\(\\) has no return type specified\\.$#"
			count: 1
			path: module/Application/src/Application/ContentNegotiation/XmlContentTypeListener.php

		-
			message: "#^Method Application\\\\ContentNegotiation\\\\XmlContentTypeListener\\:\\:isXmlRequest\\(\\) has parameter \\$request with no type specified\\.$#"
			count: 1
			path: module/Application/src/Application/ContentNegotiation/XmlContentTypeListener.php

		-
			message: "#^Parameter \\#1 \\$json of function json_decode expects string, string\\|false given\\.$#"
			count: 1
			path: module/Application/src/Application/ContentNegotiation/XmlContentTypeListener.php

		-
			message: "#^Method Application\\\\Controller\\\\AuthController\\:\\:indexAction\\(\\) return type has no value type specified in iterable type Laminas\\\\View\\\\Model\\\\ViewModel\\.$#"
			count: 1
			path: module/Application/src/Application/Controller/AuthController.php

		-
			message: "#^Method Application\\\\Controller\\\\AuthController\\:\\:indexAction\\(\\) should return Laminas\\\\View\\\\Model\\\\ViewModel but return statement is missing\\.$#"
			count: 1
			path: module/Application/src/Application/Controller/AuthController.php

		-
			message: "#^Method Application\\\\Controller\\\\AuthController\\:\\:indexAction\\(\\) should return Laminas\\\\View\\\\Model\\\\ViewModel but returns Laminas\\\\Http\\\\Response\\.$#"
			count: 3
			path: module/Application/src/Application/Controller/AuthController.php

		-
			message: "#^Method Application\\\\Controller\\\\HealthCheckController\\:\\:__construct\\(\\) has parameter \\$config with no value type specified in iterable type array\\.$#"
			count: 1
			path: module/Application/src/Application/Controller/HealthCheckController.php

		-
			message: "#^Method Application\\\\Controller\\\\HealthCheckController\\:\\:migrationVersionAction\\(\\) has no return type specified\\.$#"
			count: 1
			path: module/Application/src/Application/Controller/HealthCheckController.php

		-
			message: "#^Method Application\\\\Controller\\\\NotImplementedController\\:\\:indexAction\\(\\) return type has no value type specified in iterable type Laminas\\\\View\\\\Model\\\\ViewModel\\.$#"
			count: 1
			path: module/Application/src/Application/Controller/NotImplementedController.php

		-
			message: "#^Method Application\\\\Controller\\\\NotImplementedController\\:\\:indexAction\\(\\) should return Laminas\\\\View\\\\Model\\\\ViewModel but returns Laminas\\\\Http\\\\Response\\.$#"
			count: 1
			path: module/Application/src/Application/Controller/NotImplementedController.php

		-
			message: "#^PHPDoc tag @var for variable \\$user has no value type specified in iterable type array\\.$#"
			count: 1
			path: module/Application/src/Application/Controller/SessionRestController.php

		-
			message: "#^Method Application\\\\Controller\\\\UserRestController\\:\\:currentlyLoggedInUserIsUpdatingTheirProfile\\(\\) has no return type specified\\.$#"
			count: 1
			path: module/Application/src/Application/Controller/UserRestController.php

		-
			message: "#^Method Application\\\\Controller\\\\UserRestController\\:\\:currentlyLoggedInUserIsUpdatingTheirProfile\\(\\) has parameter \\$id with no type specified\\.$#"
			count: 1
			path: module/Application/src/Application/Controller/UserRestController.php

		-
			message: "#^Method Application\\\\Controller\\\\UserRestController\\:\\:currentlyLoggedInUserIsUpdatingTheirProfile\\(\\) has parameter \\$userAccount with no type specified\\.$#"
			count: 1
			path: module/Application/src/Application/Controller/UserRestController.php

		-
			message: "#^Property Application\\\\Controller\\\\UserStatusController\\:\\:\\$userService has no type specified\\.$#"
			count: 1
			path: module/Application/src/Application/Controller/UserStatusController.php

		-
			message: "#^PHPDoc tag @var for variable \\$user has no value type specified in iterable type array\\.$#"
			count: 1
			path: module/Application/src/Application/Controller/V1/SessionRestController.php

		-
			message: "#^Method Application\\\\Fixtures\\\\LoadUsers\\:\\:load\\(\\) has no return type specified\\.$#"
			count: 1
			path: module/Application/src/Application/Fixtures/LoadUsers.php

		-
			message: "#^Method Application\\\\Model\\\\Entity\\\\UserAccount\\:\\:__debugInfo\\(\\) has no return type specified\\.$#"
			count: 1
			path: module/Application/src/Application/Model/Entity/UserAccount.php

		-
			message: "#^Method Application\\\\Model\\\\Entity\\\\UserAccount\\:\\:clearOneTimePasswordSetToken\\(\\) has no return type specified\\.$#"
			count: 1
			path: module/Application/src/Application/Model/Entity/UserAccount.php

		-
			message: "#^Method Application\\\\Model\\\\Entity\\\\UserAccount\\:\\:clearPassword\\(\\) has no return type specified\\.$#"
			count: 1
			path: module/Application/src/Application/Model/Entity/UserAccount.php

		-
			message: "#^Method Application\\\\Model\\\\Entity\\\\UserAccount\\:\\:isLocked\\(\\) has no return type specified\\.$#"
			count: 1
			path: module/Application/src/Application/Model/Entity/UserAccount.php

		-
			message: "#^Method Application\\\\Model\\\\Entity\\\\UserAccount\\:\\:setCreatedAtValue\\(\\) has no return type specified\\.$#"
			count: 1
			path: module/Application/src/Application/Model/Entity/UserAccount.php

		-
			message: "#^Method Application\\\\Model\\\\Entity\\\\UserAccount\\:\\:setUpdatedAtValue\\(\\) has no return type specified\\.$#"
			count: 1
			path: module/Application/src/Application/Model/Entity/UserAccount.php

		-
			message: "#^Property Application\\\\Model\\\\Entity\\\\UserAccount\\:\\:\\$password \\(string\\) does not accept null\\.$#"
			count: 1
			path: module/Application/src/Application/Model/Entity/UserAccount.php

		-
			message: "#^Method Application\\\\Proxy\\\\ApplicationProxy\\:\\:__construct\\(\\) has parameter \\$config with no value type specified in iterable type array\\.$#"
			count: 1
			path: module/Application/src/Application/Proxy/ApplicationProxy.php

		-
			message: "#^Method Application\\\\Proxy\\\\ApplicationProxy\\:\\:buildForwardUri\\(\\) has no return type specified\\.$#"
			count: 1
			path: module/Application/src/Application/Proxy/ApplicationProxy.php

		-
			message: "#^Method Application\\\\Proxy\\\\ApplicationProxy\\:\\:buildForwardUri\\(\\) has parameter \\$request with no type specified\\.$#"
			count: 1
			path: module/Application/src/Application/Proxy/ApplicationProxy.php

		-
			message: "#^Method Application\\\\Proxy\\\\ApplicationProxy\\:\\:copyHeader\\(\\) has no return type specified\\.$#"
			count: 1
			path: module/Application/src/Application/Proxy/ApplicationProxy.php

		-
			message: "#^Method Application\\\\Proxy\\\\ApplicationProxy\\:\\:copyHeaders\\(\\) has no return type specified\\.$#"
			count: 1
			path: module/Application/src/Application/Proxy/ApplicationProxy.php

		-
			message: "#^Method Application\\\\Proxy\\\\ApplicationProxy\\:\\:copyRequestParameters\\(\\) has no return type specified\\.$#"
			count: 1
			path: module/Application/src/Application/Proxy/ApplicationProxy.php

		-
			message: "#^Method Application\\\\Proxy\\\\ApplicationProxy\\:\\:copyRequestParameters\\(\\) has parameter \\$forwardRequest with no type specified\\.$#"
			count: 1
			path: module/Application/src/Application/Proxy/ApplicationProxy.php

		-
			message: "#^Method Application\\\\Proxy\\\\ApplicationProxy\\:\\:copyRequestParameters\\(\\) has parameter \\$request with no type specified\\.$#"
			count: 1
			path: module/Application/src/Application/Proxy/ApplicationProxy.php

		-
			message: "#^Method Application\\\\Proxy\\\\ApplicationProxy\\:\\:createForwardRequestFromRequest\\(\\) has no return type specified\\.$#"
			count: 1
			path: module/Application/src/Application/Proxy/ApplicationProxy.php

		-
			message: "#^Method Application\\\\Proxy\\\\ApplicationProxy\\:\\:createForwardRequestFromRequest\\(\\) has parameter \\$request with no type specified\\.$#"
			count: 1
			path: module/Application/src/Application/Proxy/ApplicationProxy.php

		-
			message: "#^Method Application\\\\Proxy\\\\ApplicationProxy\\:\\:resolveForwardMethod\\(\\) has no return type specified\\.$#"
			count: 1
			path: module/Application/src/Application/Proxy/ApplicationProxy.php

		-
			message: "#^Method Application\\\\Proxy\\\\ApplicationProxy\\:\\:resolveForwardMethod\\(\\) has parameter \\$request with no type specified\\.$#"
			count: 1
			path: module/Application/src/Application/Proxy/ApplicationProxy.php

		-
			message: "#^Property Application\\\\Proxy\\\\ApplicationProxy\\:\\:\\$config type has no value type specified in iterable type array\\.$#"
			count: 1
			path: module/Application/src/Application/Proxy/ApplicationProxy.php

		-
			message: "#^Parameter \\#3 \\$encoding of function mb_convert_case expects string\\|null, string\\|false given\\.$#"
			count: 1
			path: module/Application/src/Application/Service/AbstractService.php

		-
			message: "#^Parameter \\#1 \\$formatter of method Laminas\\\\Log\\\\Writer\\\\WriterInterface\\:\\:setFormatter\\(\\) expects Laminas\\\\Log\\\\Formatter\\\\FormatterInterface\\|string, object given\\.$#"
			count: 1
			path: module/Application/src/Application/Service/Factory/LoggerServiceFactory.php

		-
			message: "#^Parameter \\#2 \\$storage of class Laminas\\\\Session\\\\SessionManager constructor expects Laminas\\\\Session\\\\Storage\\\\StorageInterface\\|null, object\\|null given\\.$#"
			count: 1
			path: module/Application/src/Application/Service/Factory/SessionManagerFactory.php

		-
			message: "#^Variable \\$request in empty\\(\\) always exists and is not falsy\\.$#"
			count: 1
			path: module/Application/src/Application/Service/Factory/SiriusHttpClientFactory.php

		-
			message: "#^Method Application\\\\Service\\\\RequestService\\:\\:updateHeadersWithUserId\\(\\) has no return type specified\\.$#"
			count: 1
			path: module/Application/src/Application/Service/RequestService.php

		-
			message: "#^Method Application\\\\Service\\\\ServiceStatusService\\:\\:__construct\\(\\) has parameter \\$config with no value type specified in iterable type array\\.$#"
			count: 1
			path: module/Application/src/Application/Service/ServiceStatusService.php

		-
			message: "#^Method Application\\\\Service\\\\ServiceStatusService\\:\\:check\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: module/Application/src/Application/Service/ServiceStatusService.php

		-
			message: "#^Dead catch \\- Doctrine\\\\DBAL\\\\Exception\\\\UniqueConstraintViolationException is never thrown in the try block\\.$#"
			count: 1
			path: module/Application/src/Application/Service/UserCreationService.php

		-
			message: "#^Method Application\\\\Service\\\\UserCreationService\\:\\:createUser\\(\\) has no return type specified\\.$#"
			count: 1
			path: module/Application/src/Application/Service/UserCreationService.php

		-
			message: "#^Method Application\\\\Service\\\\UserCreationService\\:\\:createUser\\(\\) has parameter \\$email with no type specified\\.$#"
			count: 1
			path: module/Application/src/Application/Service/UserCreationService.php

		-
			message: "#^Method Application\\\\Service\\\\UserCreationService\\:\\:createUser\\(\\) has parameter \\$isAdmin with no type specified\\.$#"
			count: 1
			path: module/Application/src/Application/Service/UserCreationService.php

		-
			message: "#^Method Application\\\\Service\\\\UserCreationService\\:\\:createUser\\(\\) has parameter \\$password with no type specified\\.$#"
			count: 1
			path: module/Application/src/Application/Service/UserCreationService.php

		-
			message: "#^Method Application\\\\Service\\\\UserCreationService\\:\\:resendActivationEmail\\(\\) has no return type specified\\.$#"
			count: 1
			path: module/Application/src/Application/Service/UserCreationService.php

		-
			message: "#^Method Application\\\\Service\\\\UserCreationService\\:\\:resendActivationEmail\\(\\) has parameter \\$id with no type specified\\.$#"
			count: 1
			path: module/Application/src/Application/Service/UserCreationService.php

		-
			message: "#^Method Application\\\\Service\\\\UserEmailService\\:\\:sendActivationEmail\\(\\) has no return type specified\\.$#"
			count: 1
			path: module/Application/src/Application/Service/UserEmailService.php

		-
			message: "#^Method Application\\\\Service\\\\UserEmailService\\:\\:sendPasswordResetEmail\\(\\) has no return type specified\\.$#"
			count: 1
			path: module/Application/src/Application/Service/UserEmailService.php

		-
			message: "#^Property Application\\\\Service\\\\UserEmailService\\:\\:\\$userServiceConfig type has no value type specified in iterable type array\\.$#"
			count: 1
			path: module/Application/src/Application/Service/UserEmailService.php

		-
			message: "#^Else branch is unreachable because previous condition is always true\\.$#"
			count: 1
			path: module/Application/src/Application/Service/UserPasswordResetService.php

		-
			message: "#^Method Application\\\\Service\\\\UserPasswordResetService\\:\\:sendPasswordResetViaEmail\\(\\) has no return type specified\\.$#"
			count: 1
			path: module/Application/src/Application/Service/UserPasswordResetService.php

		-
			message: "#^Method Application\\\\Service\\\\UserPasswordResetService\\:\\:sendPasswordResetViaEmail\\(\\) has parameter \\$userID with no type specified\\.$#"
			count: 1
			path: module/Application/src/Application/Service/UserPasswordResetService.php

		-
			message: "#^Method Application\\\\Service\\\\UserService\\:\\:formatUsers\\(\\) has no return type specified\\.$#"
			count: 1
			path: module/Application/src/Application/Service/UserService.php

		-
			message: "#^Method Application\\\\Service\\\\UserService\\:\\:formatUsers\\(\\) has parameter \\$users with no value type specified in iterable type array\\.$#"
			count: 1
			path: module/Application/src/Application/Service/UserService.php

		-
			message: "#^Method Application\\\\Service\\\\UserService\\:\\:getUsers\\(\\) has no return type specified\\.$#"
			count: 1
			path: module/Application/src/Application/Service/UserService.php

		-
			message: "#^Method Application\\\\Service\\\\UserService\\:\\:getUsers\\(\\) has parameter \\$parameters with no value type specified in iterable type array\\.$#"
			count: 1
			path: module/Application/src/Application/Service/UserService.php

		-
			message: "#^Method Application\\\\Service\\\\UserService\\:\\:retrieveUserAccountEntity\\(\\) has no return type specified\\.$#"
			count: 1
			path: module/Application/src/Application/Service/UserService.php

		-
			message: "#^Method Application\\\\Service\\\\UserService\\:\\:retrieveUserAccountEntity\\(\\) has parameter \\$id with no type specified\\.$#"
			count: 1
			path: module/Application/src/Application/Service/UserService.php

		-
			message: "#^Method Application\\\\Service\\\\UserService\\:\\:setPasswordForUserViaExistingPassword\\(\\) has no return type specified\\.$#"
			count: 1
			path: module/Application/src/Application/Service/UserService.php

		-
			message: "#^Method Application\\\\Service\\\\UserService\\:\\:setPasswordForUserViaExistingPassword\\(\\) has parameter \\$existingPassword with no type specified\\.$#"
			count: 1
			path: module/Application/src/Application/Service/UserService.php

		-
			message: "#^Method Application\\\\Service\\\\UserService\\:\\:setPasswordForUserViaExistingPassword\\(\\) has parameter \\$newPassword with no type specified\\.$#"
			count: 1
			path: module/Application/src/Application/Service/UserService.php

		-
			message: "#^Method Application\\\\Service\\\\UserService\\:\\:setPasswordForUserViaOneTimeToken\\(\\) has no return type specified\\.$#"
			count: 1
			path: module/Application/src/Application/Service/UserService.php

		-
			message: "#^Method Application\\\\Service\\\\UserService\\:\\:setPasswordForUserViaOneTimeToken\\(\\) has parameter \\$oneTimePasswordSetToken with no type specified\\.$#"
			count: 1
			path: module/Application/src/Application/Service/UserService.php

		-
			message: "#^Method Application\\\\Service\\\\UserService\\:\\:setPasswordForUserViaOneTimeToken\\(\\) has parameter \\$password with no type specified\\.$#"
			count: 1
			path: module/Application/src/Application/Service/UserService.php

		-
			message: "#^Method Application\\\\Service\\\\UserService\\:\\:setPasswordForUserViaOneTimeToken\\(\\) has parameter \\$uid with no type specified\\.$#"
			count: 1
			path: module/Application/src/Application/Service/UserService.php

		-
			message: "#^Method Application\\\\Service\\\\UserService\\:\\:verifyPasswordComplexity\\(\\) has no return type specified\\.$#"
			count: 1
			path: module/Application/src/Application/Service/UserService.php

		-
			message: "#^Method Application\\\\Service\\\\UserService\\:\\:verifyPasswordComplexity\\(\\) has parameter \\$proposedPassword with no type specified\\.$#"
			count: 1
			path: module/Application/src/Application/Service/UserService.php

		-
			message: "#^Method Application\\\\Service\\\\UserSessionService\\:\\:openUserSession\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: module/Application/src/Application/Service/UserSessionService.php

		-
			message: "#^Property Application\\\\Service\\\\UserSessionService\\:\\:\\$entityManager \\(Doctrine\\\\ORM\\\\EntityManager\\) does not accept Doctrine\\\\ORM\\\\EntityManagerInterface\\.$#"
			count: 1
			path: module/Application/src/Application/Service/UserSessionService.php

		-
			message: "#^Method Application\\\\Service\\\\UserUpdateService\\:\\:updateUser\\(\\) has no return type specified\\.$#"
			count: 1
			path: module/Application/src/Application/Service/UserUpdateService.php

		-
			message: "#^Method Application\\\\Service\\\\UserUpdateService\\:\\:updateUser\\(\\) has parameter \\$newValues with no type specified\\.$#"
			count: 1
			path: module/Application/src/Application/Service/UserUpdateService.php

		-
			message: "#^Method Application\\\\Service\\\\UserUpdateService\\:\\:updateUser\\(\\) has parameter \\$userId with no type specified\\.$#"
			count: 1
			path: module/Application/src/Application/Service/UserUpdateService.php

		-
			message: "#^Variable \\$userAccountEntity in empty\\(\\) always exists and is not falsy\\.$#"
			count: 1
			path: module/Application/src/Application/Service/UserUpdateService.php

		-
			message: "#^Method Application\\\\Session\\\\SaveHandler\\\\EncryptedSessionSaveHandler\\:\\:gc\\(\\) should return bool but returns int\\|false\\.$#"
			count: 1
			path: module/Application/src/Application/Session/SaveHandler/EncryptedSessionSaveHandler.php

		-
			message: "#^Method Application\\\\View\\\\Model\\\\XmlModel\\:\\:arrayToXml\\(\\) has no return type specified\\.$#"
			count: 1
			path: module/Application/src/Application/View/Model/XmlModel.php

		-
			message: "#^Method Application\\\\View\\\\Model\\\\XmlModel\\:\\:arrayToXml\\(\\) has parameter \\$array with no type specified\\.$#"
			count: 1
			path: module/Application/src/Application/View/Model/XmlModel.php

		-
			message: "#^Method Application\\\\View\\\\Model\\\\XmlModel\\:\\:makeElement\\(\\) has no return type specified\\.$#"
			count: 1
			path: module/Application/src/Application/View/Model/XmlModel.php

		-
			message: "#^Method Application\\\\View\\\\Model\\\\XmlModel\\:\\:makeElement\\(\\) has parameter \\$element with no type specified\\.$#"
			count: 1
			path: module/Application/src/Application/View/Model/XmlModel.php

		-
			message: "#^Method Application\\\\View\\\\Model\\\\XmlModel\\:\\:makeElement\\(\\) has parameter \\$value with no type specified\\.$#"
			count: 1
			path: module/Application/src/Application/View/Model/XmlModel.php

		-
			message: "#^Method Application\\\\View\\\\Model\\\\XmlModel\\:\\:wrapXmlInResponse\\(\\) has no return type specified\\.$#"
			count: 1
			path: module/Application/src/Application/View/Model/XmlModel.php

		-
			message: "#^Method Application\\\\View\\\\Model\\\\XmlModel\\:\\:wrapXmlInResponse\\(\\) has parameter \\$xmlData with no type specified\\.$#"
			count: 1
			path: module/Application/src/Application/View/Model/XmlModel.php

		-
			message: "#^Property Application\\\\View\\\\Renderer\\\\XmlRenderer\\:\\:\\$resolver has no type specified\\.$#"
			count: 1
			path: module/Application/src/Application/View/Renderer/XmlRenderer.php

		-
			message: "#^Method Application\\\\View\\\\Strategy\\\\XmlStrategy\\:\\:injectResponse\\(\\) has no return type specified\\.$#"
			count: 1
			path: module/Application/src/Application/View/Strategy/XmlStrategy.php

		-
			message: "#^Method Application\\\\View\\\\Strategy\\\\XmlStrategy\\:\\:selectRenderer\\(\\) has no return type specified\\.$#"
			count: 1
			path: module/Application/src/Application/View/Strategy/XmlStrategy.php

		-
			message: "#^Property Application\\\\View\\\\Strategy\\\\XmlStrategy\\:\\:\\$multibyteCharsets type has no value type specified in iterable type array\\.$#"
			count: 1
			path: module/Application/src/Application/View/Strategy/XmlStrategy.php

		-
			message: "#^Property Application\\\\View\\\\Strategy\\\\XmlStrategy\\:\\:\\$renderer has no type specified\\.$#"
			count: 1
			path: module/Application/src/Application/View/Strategy/XmlStrategy.php

